* {
  box-sizing: border-box;
  _outline: 1px solid blue;
}

:root {
  --nav-height: 90px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: rgb(56, 56, 56);
  margin-top: calc(var(--nav-height) + 1.5rem);
}
