.card__element {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 3px solid hotpink;
  border-radius: 1rem;
  color: white;
  gap: 5px;
  align-items: center;
}

.card__image {
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card_who {
  padding: 0px;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: hotpink;
}

.card__names-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 1rem;
  text-align: left;
}

.button__answer {
  background-color: hotpink;
  border-style: none;
  color: black;
  border-radius: 50px;
  _border: 3px solid chartreuse;
  font-weight: bold;
  margin: 1rem;
  padding: 0.8rem 3rem;
  text-transform: uppercase;
}
