.card__container {
  max-width: calc(300px + 1.5rem);
  margin: auto;
}

.card__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  border: 3px solid hotpink;
  border-radius: 1rem;
  color: white;
  gap: 5px;
}

.card__image {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.card_who {
  padding: 0px;
  margin: 0.5rem;
  font-size: 1.2rem;
  color: hotpink;
}

.card__names-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 1rem;
  text-align: left;
}

.button__answer {
  background-color: hotpink;
  border-style: none;
  color: black;
  border-radius: 50px;
  _border: 3px solid chartreuse;
  font-weight: bold;
  margin: 1rem;
  padding: 0.8rem 3rem;
  text-transform: uppercase;
}

h3 {
  color: chartreuse;
  padding: 20px 0;
}

button:disabled {
  border-style: none;
  color: black;
  border-radius: 50px;
  _border: 3px solid chartreuse;
  font-weight: bold;
  margin: 1rem;
  padding: 0.8rem 3rem;
  text-transform: uppercase;
  background-color: rgb(63, 63, 63);
}
